.formcalc {
    text-align: center;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    background-color: #ffc404;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 2px #080808;
}

h1 {
    font-size: 35px;
    margin-bottom: 5px;
}

hr {
    border: #000 3px solid;
}

label strong {
    font-size: 20px;
}

input {
    border-radius: 5px;
    border-color: #fff;
    padding-bottom: 20px;
    padding-top: 20px;
    margin-right: 20px;
}

#nomediv {
    margin-top: 20px;
    margin-bottom: 10px;
}

#botao_calcular {
    background-color: black;
    color: #fff;
    margin-right: 50%;
}

#result {
    margin-left: -60px;
    margin-top: 10px;
    background-color: #000;
    color: #fff;
    padding: 40px;
    overflow: hidden;
}
