* {
    margin: 0;
    padding: 0;
}

img {
    height: 950px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

